<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.etools.mft.junit.launchConfigurationType">
<stringAttribute key="com.ibm.debug.wsa.attr_vm_name" value="IBM J9 VM"/>
<stringAttribute key="com.ibm.debug.wsa.attr_vm_version" value="1.8.0_301"/>
<intAttribute key="com.ibm.debug.wsa.attr_was_version" value="61"/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit5"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CustomerManagement_Test"/>
</launchConfiguration>