<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.etools.mft.junit.launchConfigurationType">
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit5"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.test.CustomerManagement_getCustomerId_subflow_0001_Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CustomerManagement_Test"/>
</launchConfiguration>